
#basic-modal-content {display:none;}

#simplemodal-overlay {background-color:#000; cursor:url(images/popup/slash_button.png),auto;}

/* Container */
#simplemodal-container 
{
height:430px;
width:600px; 
color:#bbb; 
background-color:#333; 
border:4px solid #444; 
padding:12px;
}
#simplemodal-container .simplemodal-data 
{
padding:8px;
}

#simplemodal-container a 
{
color:#ddd;
}
#simplemodal-container a.modalCloseImg 
{
background:url(images/popup/x.png) no-repeat; 
width:25px; 
height:29px; 
display:inline; 
z-index:3200; 
position:absolute; 
top:-15px; 
right:-16px; 
cursor:pointer;
}
#simplemodal-container h3 
{
color:#84b8d9;
font-size:30px;
}
#simplemodal-container ol li
{
	font-size:18px;
	color:white;
	font-family:Abel;
	letter-spacing:0.6px;
}
